{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - {{ pagename }} {% endblock %}

{% block body %}

    <div class="container">
        Welcome to ModelShack. Here, you can upload your 3D model and generate an embed link for your website.
    </div>

{% endblock %}