{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - {{ pagename }} {% endblock %}

{% block body %}


    <div class="section center-align">
        <h1 class="maincolor-text">ModelShack</h1>
        <div class="grey-text text-lighten-1">
            <h5>3D models hosting and integration in your website.</h5>
            <h6>v0.0.1</h6>
        </div>
    </div>
    
    <div class="divider"></div>

    <div class="section">
        <div class="container grey-text text-darken-1 center-align">
            <h4>How it work ?</h4>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col l4 s12 center-align">
                    <div class="section">
                        <a href="upload" class="btn bg-maincolor waves-effect">Upload</a>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        Upload your 3D model in <span class="maincolor-text">GLB/GLTF</span> format.
                    </div>
                </div>

                <div class="col l4 s12 center-align">
                    <div class="section">
                        <a href="view" class="btn bg-maincolor waves-effect">View</a>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        View the model by using the <span class="maincolor-text">unique ID</span> in the viewer.
                    </div>
                </div>

                <div class="col l4 s12 center-align">
                    <div class="section">
                        <a href="search" class="btn bg-maincolor waves-effect">Search</a>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        Keep your models by <span class="maincolor-text">searching</span> them with author's name.
                        <span class="text-bold">No account needed</span>.
                    </div>
                </div>
                
            </div>
        </div>
    </div>


{% endblock %}