* {
    --main-color:rgb(190, 133, 255);
    --main-color-darker: rgb(180, 113, 255);
    --main-color-lighten: rgb(212, 174, 255);
}

body {
    padding-left: 300px;
}

p { color: #494949; }

/* Custom Materialize properties */

.waves-effect.waves-maincol .waves-ripple {
    background-color: var(--main-color);
}
.maincolor-text { color: var(--main-color) }

/*---*/

.bor {
    border: 1px solid red;
}

.imglogo {
    width: 80px;
    margin-bottom: 10px;
}

/*Text Effects*/
.custom-link { color: var(--main-color); }

.text-color-main { color: var(--main-color); }

.text-bold { font-weight: bold }

.text-title { 
    display: inline-block;
    margin-left: 25px;
    color: var(--main-color-lighten);
    border-radius: 12px;
}

.myfont { font-family: 'Poppins', sans-serif; }
/*Text Effects END*/

.rounded-xl { border-radius: 8px }
.rounded-top-xl { border-radius: 8px 8px 0 0 }
.rounded-bottom-xl { border-radius: 0 0 8px 8px }

.bg-main { background-color: var(--main-color); }

.btn-main {
    background-color: var(--main-color);
    color: white;
    transition: 0.3s;
}

.btn-main:hover { background-color: var(--main-color-lighten); }

.text-note {
    color: grey;
    font-size: 12px;
}

.bg-grey { background-color: #f5f5f5 }

.bg-maincolor { background-color: var(--main-color) }
.bg-maincolor:hover { background-color: var(--main-color-darker) }
.bg-maincolor:focus { background-color: var(--main-color-darker) }

textarea {
    resize: none;
    width: 100%;
    border: 1px solid var(--main-color);
    color: #616161;
}

textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 1pt var(--main-color);
}


/* Old Navbar Begin */
.my-navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    border-radius: 0 0 32px 32px;
}

.my-navbar-links {
    display: flex;
    justify-content: center;
    margin: 0 32px 0 32px;
}

.my-navbar-links a {
    color: white;
    font-weight: bold;
}
.my-navbar-links a:hover { text-decoration: none }

.nav-link {
    text-align: center;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: white;
    background-color: none;
    overflow: hidden;
    transition: 0.2s;
}

.nav-link:hover {
    background-color: var(--main-color-darker);
}
/* Navbar End */


/* Media queries */
@media (max-width: 768px) {
    body { overflow-x: hidden }
    .my-navbar {
        left: 0;
        border-radius: 0;
        transform: translateX(0%);
        width: 100%;
    }
    .my-navbar-links { justify-content: space-around }
    .nav-link { font-size: 16px }
}

@media only screen and (max-width : 992px) {
    body {
        padding-left: 0;
    }
}