<form>
    <div class="row">
        <div class="input-field">
            <input id="input_author" type="text" data-length="18" maxlength="18">
            <label for="input_author">Author name</label>
        </div>        
    </div>
    <div class="row">
        <div class="input-field">
            <input id="input_desc" type="text" data-length="24" maxlength="24">
            <label for="input_desc">Model description</label>
        </div>
    </div>
    <div class="row">
        <div class="file-field input-field">
            <div class="btn btn-main">
                <span>Browse</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>        
    </div>
    <div class="row">
        <button class="col l6 offset-l3 s12 btn waves-effect waves-light bg-maincolor" type="submit" name="action">Submit
            <i class="fas fa-paper-plane"></i>
        </button>
    </div>
</form>

