<form>
    <div class="row">
        <div class="input-field">
            <input id="input_author" type="text" data-length="18" maxlength="18" required>
            <label for="input_author">Author name</label>
        </div>
    </div>
    <div class="row">
        <button class="col l6 offset-l3 s12 btn waves-effect waves-light bg-maincolor" type="submit" name="btnSearch">Search
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>